In [1]:
import pandas as pd
d = {"country" : ["China", "America", "Japan"],
     "population" : [14.22, 3.18, 1.29]
    }
df = pd.DataFrame(d)
df

   country  population
0    China       14.22
1  America        3.18
2    Japan        1.29

In [3]:
df = pd.DataFrame(d, index=['a', 'b', 'c'])
df

   country  population
a    China       14.22
b  America        3.18
c    Japan        1.29

In [4]:
d = {'one' : pd.Series(['a','b','c'], index=[1,2,3]),
     'two' : pd.Series(['a','b','c','d'], index=[1,2,3,4])
    }

df = pd.DataFrame(d)

df

   one two
1    a   a
2    b   b
3    c   c
4  NaN   d